body {
    background-color: lightpink;
}
.yesbutton { 
  background-color: #03fb0b;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 75px;
  position: absolute;
  top: 360px;
  left: 390px;
   transition: 0.3s;
}

.yesbutton:hover {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.nobutton {
    background-color: red;
    padding: 10px 10px;
    border-radius: 20px;
     color: white;
     text-decoration: none;
     font-size: 75px;
     position: absolute;
     top: 285px;
     left: 710px;
     transition: 0.3s;
}

.nobutton:hover {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#wave {
    height: 270px;
    width: 260px;
    position: absolute;
    top: 40px;
    left: 490px;
}

#plead {
    height: 270px;
    width: 260px;
    position: absolute;
    top: 40px;
    left: 490px;
}

#think {
    height: 270px;
    width: 260px;
    position: absolute;
    top: 40px;
    left: 490px;
}

#eye {
    height: 270px;
    width: 260px;
    position: absolute;
    top: 40px;
    left: 490px;
}









.header {
    position: absolute;
    top: 290px;
    left: 420px;
    font-size: 20px;
    background-color: cyan;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.header1 {
    position: absolute;
    top: 290px;
    left: 525px;
    font-size: 20px;
    background-color: cyan;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.header2 {
    position: absolute;
    top: 290px;
    left: 540px;
    font-size: 20px;
    background-color: cyan;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.header3 {
    position: absolute;
    top: 290px;
    left: 540px;
    font-size: 20px;
    background-color: cyan;
    color: white;
    padding: 4px 6px;
    border-radius: 20px;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.buttoncontinue {
    background-color: #03fb0b;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  font-size: 60px;
  position: absolute;
  top: 360px;
  left: 390px;
   transition: 0.3s;
}

.buttoncontinue:hover {
    text-shadow: 2px 3px 6px rgba(0,0,0,0.5)
}

.topic {
    background-color: cyan;
    color: white;
    position: absolute;
    top:30px;
    left: 250px;
    border-radius: 10px;
    font-size: 40px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
}
    

#rose {

position: absolute;
top: 100px;
left: 50px ;
width: 300px;
height: 300px;

}

.letter {
    position: absolute;
    top: 200px;
    left: 400px;
    color: white;
    background-color: teal;
    width: 570px;
    height: 140px;
    border-radius: 10px;
   padding: 10px 10px;
}

#letteropen {
    position: absolute;
    top: 110px;
    left: 500px;
    background-color: teal;
    color: white;
    border-radius: 20px;
    font-size: 40px;
    padding: 4px 3px;
    transition: 0,6s;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
    
}

#letteropen:hover {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

.letterbutton {
    background-color: yellow;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 2px 1px;


}

.video1 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 50px;
    border-radius: 20px;
    border: 6px solid  black;


}

.video2 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 350px;
    border-radius: 20px;
    border: 6px solid  black;


}

.video3 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 650px;
    border-radius: 20px;
    border: 6px solid  black;

}

.video4 {
    height: 200px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 950px;
    border-radius: 20px;
    border: 6px solid  black;

}
    
.cat {
    background-color: cyan;
    color: white;
    position: absolute;
    top:30px;
    left: 80px;
    border-radius: 10px;
    font-size: 40px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
}

.button1 {
  position: absolute;
    top: 500px;
    left: 440px;
    background-color: teal;
    color: white;
    border-radius: 20px;
    font-size: 40px;
    padding: 4px 3px;
    transition: 0,6s;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;

     text-decoration: none;

}

.button1:hover {
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}


.catwave {
    position: absolute;
    top: 250px;
    left: 450px;
    height: 300px;
    width: 400px;
    border-radius: 20px;
    border: solid 4px black;
}

.topic3 {
    background-color: cyan;
    color: white;
    position: absolute;
    top: -50px;
    left: 220px;
    border-radius: 10px;
    font-size: 100px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
     
}

.buttonagain {
    position: absolute;
    top: 600px;
    left: 360px;
    background-color: teal;
    color: white;
    border-radius: 20px;
    font-size: 40px;
    padding: 4px 3px;
    transition: 0,3s;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-decoration: none;
}

.buttonagain:hover {
    text-shadow:  2px 2px 5px rgba(0,0,0,0.5);

}

.space {
    color: lightpink;
    position: absolute;
    top: 750px;
}

.topic4 {
    background-color: cyan;
    color: white;
    position: absolute;
    top: 30px;
    left: 270px;
    border-radius: 10px;
    font-size: 35px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
}

ul {
    list-style: none;
    padding: 0;
  }

  li {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    margin: 10px 0;
    font-size: 20px;
  }

  li.show {
    opacity: 1;
    transform: translateY(0);
  }

  button {
    margin-top: 20px;
    padding: 10px 20px;
    background: pink;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    }

.heartletter {
    position: absolute;
    top: 180px;
    left: 485px;
    width: 350px;

}

.button4 {
    position: absolute;
    top: 120px;
    left: 540px;
    
}

.link1 {
    position: absolute;
    top: 750px;
    left: 450px;
    background-color: teal;
    color: white;
    border-radius: 20px;
    font-size: 40px;
    padding: 4px 3px;
    transition: 0,3s;
    text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     text-decoration: none;
}

.spacing3 {
    color: lightpink;
    position: absolute;
    top: 1000px;
}

#bar-container {
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
     top: 10px;
    left: -60px;

  }

  #bar {
    height: 100%;
    width: 0%;
    background-color: cyan;
    transition: width 0.2s;

  }

  #text {
    margin-top: 10px;
    font-family: Arial;
    font-size: 20px;
    position: absolute;
    top: 100px;
  }

  .bar2 {
    position: absolute;
    top: 300px;
    left: 500px;
  }

  .buttonfill {
    position: absolute;
    right: -30px;
    font-size: 50px;
    width: 220px;
    top: 160px;
  }


  .buttondecrease {
    position: absolute;
    left: 140px;
    font-size: 50px;
    width: 400px;
    top: 160px;

  }
  
  .topic5 {
    background-color: teal;
    color: white;
    position: absolute;
    top: 30px;
    left: 230px;
    border-radius: 10px;
    font-size: 35px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
     font-size: 50px;
     width: 800px;



  }

  .spaceend {
    color: lightpink;
    position: absolute;
    top: 500px;

  }

  .buttonforend {
    background-color: teal;
    color: white;
    position: absolute;
    top: 300px;
    left: -10px;
    border-radius: 10px;
    font-size: 35px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
     width: 300px;
     text-decoration: none;
  }

  .topic6 {
    background-color: teal;
    color: white;
    position: absolute;
    top: 450px;
    left: 400px;
    border-radius: 10px;
    font-size: 35px;
     text-shadow:
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
     padding: 5px 8px;
     width: 400px;

  }

.rosehand {
    position: absolute; 
    top: 30px;
    left: 400px;
    width: 400px;
    height: 400px;

}

.spacingforend {
    color: lightpink;
    position: absolute;
    top: 700px;
    

}